<div class="container">
    <div>
        <i class="fs-4 bi bi-people"></i><u><span>My Favourites</span></u>
    </div>
    <br />
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Employee Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Pronunciation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>123456</th>  
            <td>John</td>
            <td>Doe</td>
            <td><a><i class="bi bi-play-circle"></i>Listen </a> </td>
          </tr>
          <tr>
            <th>123457</th> 
            <td>Mary</td>
            <td>Moe</td>
            <td><a><i class="bi bi-play-circle"></i>Listen </a> </td>
          </tr>
          <tr>
            <th>123458</th> 
            <td>July</td>
            <td>Dooley</td>
            <td><a><i class="bi bi-play-circle"></i>Listen </a> </td>
          </tr>
        </tbody>
      </table>
</div>
