<div class="card">
    <div class="card-header">
        <i class="fs-5 bi bi-search"></i><span style="padding-left: 5px;">Look up for Pronunciation</span>
    </div>
    <div class="card-body">
        <div class="form-group row">

            <label for="inputPassword" class="col-sm-1 col-form-label">Search</label>
            <div class="col-sm-6 input-group">
                <input type="text" class="form-control" [(ngModel)]="searchrequest.searchtxt" id="inputsearch"
                    placeholder="Search with Employee Id">
                <div class="input-group-append">
                    <img src="assets/image/search-button.png" class="btn_search_icon" title="Search" alt="Search"
                        (click)="search()" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<ng-container *ngIf="Isoptedout">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Currently, this user Opted Out from the Pronunciation Service !</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-container>

<ng-container *ngIf="showSearchresult">
    <div class="card">
        <div class="card-header" (click)="issearchInfoHidden=!issearchInfoHidden">
            <i class="bi bi-people"></i><span>&nbsp;&nbsp;Search Results</span>
            <div style="float:right">
                <i class="fs-4 bi bi-arrow-up-circle-fill" [hidden]="issearchInfoHidden"></i>
                <i class="fs-4 bi bi-arrow-down-circle-fill" [hidden]="!issearchInfoHidden"></i>
            </div>
        </div>
        <div class="card-body" [hidden]="issearchInfoHidden">
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label">
                        Employee ID:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.employeeId}}
                    </label>
                </div>
                <div class="col-4">
                    <label class="control-label">
                        Lan ID:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.lanid}}
                    </label>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label">
                        Full Name:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.fullname}}
                    </label>
                </div>
                <div class="col-4">
                    <label class="control-label">
                        Manager Name:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.managername}}
                    </label>
                </div>
                <div class="col-4">
                    <label class="control-label">
                        Phone:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.phone}}
                    </label>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-4">
                    <label class="control-label">
                        <b> Is Custom Pronunciation ?</b> :
                    </label>
                    <label class="control-label">
                        <input type="radio" id="custompronunciationtrue" [value]="true" disabled="true"
                            [(ngModel)]="searchresponse.isCustomPronunciationAvailable">
                            <b><label for="admintrue">Yes</label></b>
                        <input type="radio" id="custompronunciationfalse" [value]="false" disabled="true"
                            [(ngModel)]="searchresponse.isCustomPronunciationAvailable">
                            <b><label for="adminfalse">No</label></b>
                    </label>
                </div>
                <div class="col-8">
                    <label class="control-label">
                        Email:
                    </label>
                    <label class="control-label">
                        {{ searchresponse.emailAddress}}
                    </label>
                </div>
            </div>

            <ng-container
                *ngIf="!searchresponse.isCustomPronunciationAvailable || (!searchresponse.overrideStandardPronunciation && !isadmin)">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <label class="control-label">
                            * Note : We enabled Standard Pronunciation based on Country.
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="control-label">
                            Country :
                        </label>
                    </div>
                    <div class="col-4" class="control-label">
                        <select class="form-control" id="exampleFormControlSelect2" [(ngModel)]="selectedcountry">
                            <option value="">--SELECT--</option>
                            <option value="en-IN-PrabhatNeural">India</option>
                            <option value="en-US-AriaNeural">USA</option>
                            <option value="en-GB-LibbyNeural">UK</option>
                            <option value="ja-JP-NanamiNeural">Japan</option>
                            <option value="zh-HK-HiuGaaiNeural">China</option>
                            <option value="ru-RU-DariyaNeural">Russia</option>
                        </select>
                    </div>
                </div>
            </ng-container>
            <div class="form-group row">
                <div class="col-8"
                    *ngIf="!searchresponse.isCustomPronunciationAvailable || (!searchresponse.overrideStandardPronunciation && !isadmin)">
                    <label class="control-label">
                        Name Pronunciation :
                    </label>
                    <label class="control-label">
                        &nbsp;&nbsp; <button class="btn btn-primary" (click)="listenStandardPronunciation()"
                            [disabled]="(selectedcountry=='')?true:false" style="cursor: pointer;"> <i
                                class="bi bi-mic"></i>Standard Pronunciation</button>
                    </label>
                </div>
                <div class="col-2"
                    *ngIf="searchresponse.isCustomPronunciationAvailable && (searchresponse.overrideStandardPronunciation || isadmin)">
                    <label class="control-label">
                        Name Pronunciation :
                    </label>
                </div>
                <div class="col-4"
                    *ngIf="searchresponse.isCustomPronunciationAvailable && (searchresponse.overrideStandardPronunciation || isadmin)">
                    <audio [src]="sanitize(audioSource)" id="audio" controls #audioTag class="form-control">
                    </audio>
                </div>
            </div>
            <ng-container *ngIf="isadmin">
                <div class="form-group row" *ngIf="!searchresponse.isCustomPronunciationAvailable">
                    <div class="col-sm-10">
                        <label class="control-label"><b>
                                Not Happy with the Standard Pronunciation,<a data-toggle="modal"
                                    data-target="#exampleModalCenter">Set your
                                    Custom
                                    Pronunciation <i class="bi bi-emoji-smile"></i></a></b>
                        </label>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="searchresponse.isCustomPronunciationAvailable">
                    <button class="btn btn-info" style="cursor: pointer;" (click)="editPronunciation()">Edit</button>
                    <button class="btn btn-danger" style="cursor: pointer;"
                        (click)="deletePronunciation()">Delete</button>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="exampleModalLongTitle">Custom Pronunciation</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-6">
                        <label class="control-label">
                            Full Name:
                        </label>
                        <label class="control-label">
                            {{ searchresponse.fullname}}
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="control-label">
                            OverrideStandardPronunciation ?
                        </label>
                    </div>
                    <div class="col-sm-5" class="control-label">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="OverrideStandardPronunciationopt"
                                id="OverrideStandardPronunciation" value="true"
                                [checked]="OverrideStandardPronunciation"
                                (change)="onOverrideStandardPronunciationoptChanged(OverrideStandardPronunciation.checked)">

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <button (click)="initiateRecording()" class="btn btn-primary" [disabled]="recording"
                            style="cursor: pointer;"> <i class="bi bi-mic"></i>Start Recording </button>
                    </div>
                    <div class="col-sm-6">
                        <button (click)="stopRecording()" class="btn btn-danger" [disabled]="!recording"
                            style="cursor: pointer;"> <i class="bi bi-record-btn"></i>&nbsp;Stop Recording </button>
                    </div>
                </div>
                <div class="form-group row" *ngIf="recording">
                    <div class="col-sm-8">
                        <div style="text-align:center;">
                            <img src="assets/image/recordbutton.gif" style="text-align:center;" />
                        </div>
                    </div>
                </div>
                <div class="form-group row" *ngIf="url">
                    <div class="col-sm-10">
                        <audio controls="">
                            <source [src]="sanitize(url)" type="audio/wav">
                        </audio>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label class="control-label">
                            Comments :
                        </label>
                    </div>
                    <div class="col-sm-8" class="control-label">
                        <textarea class="form-control" rows="2" maxlength="200" [(ngModel)]="txtcomments"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveProunciationUserDetails()">Save</button>
                </div>
                <span style="font-size: 12px;">*Note : To Re-Record,click on Start Recording button again.</span>
            </div>
        </div>
    </div>
</div>