<div class="loginfrm">
    <div class="toolbar" role="banner">

        <div class="px-3 py-2 bg-wells text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    Name Pronunciation Tool
                </div>
            </div>
        </div>
    </div>

    <div class="login">
        <div class="form-signin">
            <p>
                Welcome to Name Pronunciation Tool.
            </p>
            <p>
                This tool help us to pronunce the name of each Employee.
            </p>
            <p>
                 Click below to explore..
            </p>
            
            <button class="w-100 btn btn-lg btn-primary btn-bg" type="submit" (click)="login()">Sign-In</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
        </div>
    </div>
</div>